body {
  background-color: #1fb563;
  color: rgb(219, 35, 35);
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
cursor:pointer
  background-color: #ff6600;
  border: none;
  border-radius: 8px;
  color: white;
}
button:hover {
  background-color: #7eff33;
}
